<%= form_for(@gist) do |f| %>

    <% if @gist.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@gist.errors.count, "error") %> prohibited this gist from being saved:</h2>

          <ul>
            <% @gist.errors.full_messages.each do |msg| %>
                <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
    <% end %>
    <div class="row">
      <div class="col-md-2">
        <div class="input-group">
          <span class="input-group-addon">#</span>
          <%= f.text_field :lang, :class => "form-control", :placeholder => :lang %>
        </div>
      </div>
      <div class="col-md-10">
        <div class="input-group">
          <span class="input-group-addon">#</span>
          <%= f.text_field :description, :class => "form-control", :placeholder => :description %>
        </div>
      </div>
      <br/><br/><br/>
    </div>
    <div class="row">
    <div class="col-md-12">
    <div class="input-group">
      <span class="input-group-addon">#</span>
      <%= f.text_area :snippet, :class => "form-control", :placeholder => :snippet, :style => "height: 200px" %>
    </div>
    </div>
    </div>

    <br/><br/>
    <div class="actions">
      <%= f.submit class: "btn btn-success" do %>

      <% end %>
    </div>
<% end %>